@mixin alcedo-button {
	.button {
    display: inline-block;
    cursor: pointer;
		text-decoration: none;
		padding: $button-padding-topbottom $button-padding-leftright;
		background: $button-background;
    color: $button-text-color;
		text-transform: $button-text-transform;
		letter-spacing: $button-letter-spacing;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
		font-size: $button-font-size;
		transition: all 0.2s ease;
		border: none;
    border-radius: $button-border-radius;

		&:hover {
			background: darken($button-background, 5%);
			color: $button-text-color;		
    }
    
    &:focus {
			background: darken($button-background, 10%);
			color: $button-text-color;
    }
	}

} // end mixin